$min-stream-width: 320px;
$max-stream-width: 420px;
$min-card-width: 310px;
$bg-image: "../img/Monet_wheatstacks,snow-effect,morning.jpg";
$card-color: rgba(255,255,240,.75);

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url($bg-image);
    background-size: cover;
    background-attachment: fixed;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Athelas, Times, serif;
    padding: 0em 0em;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

div {
    display: flex;
    flex-flow: column wrap;
}

h1 {
    font-size: 10em;
    margin: 0em;
}

h2 {
    font-size: 3em;
    margin: .2em 0em;
}

a.noh {
    color: black;
    text-decoration: none;
}

nav.flex-nav {
    width: 100%;
    margin: 0em 0em 1em 0em;
    display: flex;
    flex-flow: row;
    flex: 0 1 auto;
    font-family: Futura, Arial, sans-serif;
}

.card {
    background: $card-color;
    align-items: center;
    min-width: $min-card-width;
    margin: .5em 0em;
    border-radius: .5em;
    box-shadow: 0 .5em 1em 0 rgba(0,0,0,0.6);
    transition: all 1s ease-out;
}

.card:hover {
    background: rgba(255,255,240,1);
    box-shadow: 0 1em 2em 0 rgba(0,0,0,0.8);
}

.card-stream {
    align-items: center;
    justify-content: center;
    margin: 0em 0em 0em 0em;
    min-width: $min-stream-width;
    max-width: $max-stream-width;
}

.content {
    flex-flow: row wrap;
    flex: 2 1 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.icon1::before {
    font-size: 1em;
}

.icon2::before {
    font-size: 2em;
}

.icon3::before {
    font-size: 3em;
}

.icon4::before {
    font-size: 4em;
}

.icon-row {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0em 1em;
}

#intro-icons {
    margin: -5.5em 0em 1em 0em;
    padding: 0em 0em;

    i {
        margin: 0em .5em;
        border-bottom: .2em dotted black;
        display: inline-block;
        line-height: 2em;
    }
}

#yo {
    border-bottom: .1em solid black;
    display: inline-block;
    line-height: .8em;
}

#main-avatar {
    margin: 0em;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transform: translateY(-100px);
    border: 2px solid $card-color;
}

#banner {
    min-width: $min-stream-width;
    align-items: center;
}

#intro {
    margin: 100px 0em .5em 0em;
}

#description {
    width: 50%;

    h1 {
        font-size: 2em;
        margin: 1em;
        align-self: flex-start;
    }
}

#map {
    width: 50%;
    flex: 1 2;
}

#ny-gmap {
    max-width: 280px;
    max-height: 280px;
    padding: 1em;
    flex: 1 2;
}

#footer {
    flex: 0 1 auto;
    justify-content: flex-end;
    margin: 1em 0em 0em 0em;
}

#footer-card {
    flex-flow: row wrap;
    justify-content: space-between;
    border-radius: .5em .5em 0em 0em;
    margin: .5em 0em 0em 0em;
}

#copyright {
    font-size: .8em;
    margin: 0em .5em;
}

@media (max-width: 2 * $min-stream-width - 1) {
    body {
        height: auto;
    }

    nav.flex-nav {
        margin: 0em 0em 2em 0em;
    }
}
