html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../img/Monet_wheatstacks,snow-effect,morning.jpg");
  background-size: cover;
  background-attachment: fixed; }

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Athelas, Times, serif;
  padding: 0em 0em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between; }

div {
  display: flex;
  flex-flow: column wrap; }

h1 {
  font-size: 12em;
  margin: 0em; }

h2 {
  font-size: 3em;
  margin: .2em 0em; }

a.noh {
  color: black;
  text-decoration: none; }

nav.flex-nav {
  width: 100%;
  margin: 0em 0em 1em 0em;
  display: flex;
  flex-flow: row;
  flex: 0 1 auto;
  font-family: Futura, Arial, sans-serif; }

.card {
  background: rgba(255, 255, 240, 0.75);
  align-items: center;
  min-width: 310px;
  margin: .5em 0em;
  border-radius: .5em;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.6);
  transition: background .5s ease-in 0s, box-shadow .5s ease-in 0s; }

.card:hover {
  background: ivory;
  box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.8); }

.card-stream {
  align-items: center;
  justify-content: center;
  margin: 0em 0em 0em 0em;
  min-width: 320px;
  max-width: 420px; }

.content {
  flex-flow: row wrap;
  flex: 2 0 auto;
  justify-content: center;
  align-items: center;
  align-content: center; }

.icon1 {
  width: 1em !important;
  height: 1em !important; }

.icon2 {
  width: 2em !important;
  height: 2em !important; }

.icon3 {
  width: 3em !important;
  height: 3em !important; }

.icon4 {
  width: 4em !important;
  height: 4em !important; }

.icon-row {
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0em 1em; }

.footer-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: .25em 1em .25em 1em; }
  .footer-icons > a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em .5em; }

#intro-icons {
  margin: -5.5em 0em 1em 0em;
  padding: 0em 0em; }
  #intro-icons svg {
    margin: 0em .75em;
    padding: .4em .3em;
    border-bottom: .3em dotted black; }

#yo {
  border-bottom: .1em solid black;
  display: inline-block;
  line-height: .8em; }

#main-avatar {
  margin: 0em;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transform: translateY(-100px);
  border: 2px solid rgba(255, 255, 240, 0.75); }

#glasses {
  position: absolute;
  height: 67px !important;
  width: 67px !important;
  transform: rotate(-5deg) translate(1px, -32px); }

#banner {
  min-width: 320px;
  align-items: center; }

#intro {
  margin: 100px 0em .5em 0em; }

#description .text-container {
  margin: 1em;
  padding: 0em;
  align-items: flex-start; }
#description h1 {
  font-size: 2em; }

#dev-tag {
  margin: 0em; }

#ana-tag {
  margin: 0em 0em 0em 1em; }

#con-tag {
  margin: 0em 0em 0em 2em; }

#map {
  width: 50%;
  flex: 1 2; }

#ny-gmap {
  max-width: 280px;
  max-height: 280px;
  padding: 1em;
  flex: 1 2; }

#footer {
  flex: 0 0 auto;
  justify-content: flex-end;
  margin: 1em 0em 0em 0em; }

#footer-card {
  flex-flow: row wrap;
  justify-content: space-between;
  border-radius: .5em .5em 0em 0em;
  margin: .5em 0em 0em 0em; }

#copyright {
  font-size: .8em;
  margin: 0em .5em; }

@media (max-width: 639px) {
  body {
    height: auto; }

  nav.flex-nav {
    margin: 0em 0em 2em 0em; } }

/*# sourceMappingURL=main.css.map */
